<div *ngIf="book" class="container">
    <form id="updatebook">
        <div class="form-group row">
            <label class="col-form-label col-sm-2">ISBN</label>
            <input [(ngModel)]="book.isbn" class="form-control col-sm-10" name="isbn" placeholder="{{book.isbn}}"
                   type="text">
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2">Title</label>
            <input [(ngModel)]="book.title" class="form-control col-sm-10" name="title" placeholder="{{book.title}}"
                   type="text">
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2">Author</label>
            <input [(ngModel)]="book.author" class="form-control col-sm-10" name="author" placeholder="{{book.author}}"
                   type="text">
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2">Publisher</label>
            <input [(ngModel)]="book.publisher" class="form-control col-sm-10" name="publisher"
                   placeholder="{{book.publisher}}" type="text">
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2">Price</label>
            <input [(ngModel)]="book.price" class="form-control col-sm-10" name="price" placeholder="{{book.price}}"
                   type="text">
        </div>
        <button (click)="goBack()" class="btn btn-outline-danger">Abort Update</button>
        <button (click)="save()" class="btn btn-outline-success ml-4">Commit Update
        </button>
    </form>
</div>
